/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Sono&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

/*~~~~~~~~ Weekly View Settings~~~~~~~~~ */
.weeklyDay {
  min-height: 700px;
  /* border: 2px solid #6b0606; */
  border: 1px solid black;
  width: 100%;
  /* background-color: #3A3A3A; */
  /* background: #f0ead6; */
  /* background: #e0dac6 */
  background-color: #d0cab6;
  background-image: url(../../imgs/45-degree-fabric-dark.png);
  background-color: #d0cab6;
  overflow: hidden;
}
.weekly-todo-display {
  height: 100%;
  background: linear-gradient(
    to bottom,
    #f0ead6,
    #f0ead6 90%,
    #e0dac6 10%,
    #d0dac6
  );
  background-size: 100% 8px;
}
.weekly-todo-display h4 {
  margin: 0px;
  padding-top: 5px;
}

.weeklyDay:hover {
  background-image: url(../../imgs/45-degree-fabric-dark.png);
  background-color: #cccccc;
  cursor: pointer;
}
.weeklyDay:hover .weekly-todo-display {
  background: linear-gradient(
    to bottom,
    #cccccc,
    #cccccc 90%,
    #bbbbbb 10%,
    #bbbbbb
  );
  background-size: 100% 8px;
  cursor: pointer;
}

#weekly-view-container {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

#week-nav-left {
  position: absolute;
  top: 45%;
  left: 0px;
  justify-content: start;
  width: 25px;
  height: 75px;
  border: none;
  opacity: 0.5;
  font-size: 1.25rem;
  box-shadow: 1.5px 1.5px 2px grey;
}
#week-nav-left:hover {
  background-color: #cccccc;
  cursor: pointer;
  border: 1px solid black;
  opacity: 0.8;
}

#week-nav-right {
  position: absolute;
  /* position: relative; */
  top: 45%;
  /* right: 30px; */
  right: 0px;
  justify-content: right;
  width: 25px;
  height: 75px;
  border: none;
  opacity: 0.5;
  font-size: 1.25rem;
  box-shadow: -1.5px 1.5px 2px grey;
}
/* #week-nav-right:hover {
  background-color: #2a2a2a;
  cursor: pointer;
} */
#week-nav-right:hover {
  background-color: #cccccc;
  cursor: pointer;
  border: 1px solid black;
  opacity: 0.8;
}
#day-nav-left {
  position: absolute;
  top: 45%;
  left: 30px;
  width: 45px;
  height: 45px;
}
#day-nav-right {
  position: absolute;
  top: 45%;
  right: 30px;
  width: 45px;
  height: 45px;
}
#weekly-header {
  position: relative;
  text-align: center;
}
#weekly-header > h1 {
  color: black;
  font-family: "Yomogi", cursive;
  font-weight: 350;
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#weekly-popup-btn {
  position: absolute;
  left: 15px;
  top: 15px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

.weeklyDay > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.weeklyDay > h1 {
  margin: 0;
  font-size: 35px;
  border-bottom: 3px solid black;
}
#weekly-view-footer {
  position: relative;
  display: block;
  margin-top: 75px;
  bottom: 5px;
  color: #444444;
  font-size: 1rem;
}
