#daily-popup-btn{
  position:absolute;
  left: 15px;
  top: 15px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 75px;
  padding-top: 0px;


  /* width: 5rem; */
  /* padding-bottom: 20px; */

}
#sidebar{
  /* background-color: #3A3A3A; */
  background-image: url(../../imgs/45-degree-fabric-dark.png);
  background-color: #d0cab6;
}
#main-todo-container{
  /* background-color: #3A3A3A; */
  background-color: #f0ead6;
  border: 1px solid #6b0606;
}
#top-left{
  min-height: 80px;
}
#todo-display-container {
  position: relative;
  min-height: 650px;
  border: 2px solid #6b0606;

  background: linear-gradient(
    to bottom,
    #f0ead6,
    #f0ead6 90%,
    #e0dac6 10%,
    #d0dac6
  );
  background-size: 100% 8px;
}


/* ~~~~~~~~~~Return Import Settings~~~~~~~~~~ */
#return-import-div{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  min-height: 40px;
  border: 1px solid #6b0606;

}
#back-button{
  width: 40px;
  height: 40px;
  font-size: 20px;
  white-space: normal;

}
#import-button{
  height: 40px;
  font-size: 20px;
}
#import-button-div{
  position: absolute;
  right: 0;
}
#import-result-form{
  display: flex;
  flex-direction: column;


}
#import-result-form > input[type=submit]{
  font-family: 'Sono', sans-serif;
  text-align: center;
  width: 25%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2A2A2A;
  color: #f2eded;
}
#import-result-form > :not(.importResult){
  text-align: center;
}

/* ~~~~~~~~~~~~~~ PROJECT SETTINGS ~~~~~~~~~~~~~~ */
#project-header {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 2px solid #6b0606;
}
#add-project-div {
  min-height: 40px;

  position: relative;
}

#add-project-button {
  font-size: 25px;
  height: 40px;
  width: 40px;
}

#header {
  background-color: #d0cab6;
  background-image: url(../../imgs/45-degree-fabric-dark.png);
  display: flex;
  position: relative;
  flex-direction: row;
  /* border: 2px solid #6b0606; */
  border: 2px solid grey;
  width: 700px;
  margin-right: auto;
  min-height: 80px;
}

/* ~~~~~~~~~~~~~~ UNDO REDO SETTINGS ~~~~~~~~~~~~~~ */
#undo-redo {
  position: absolute;
  right: 0;
  bottom: 0;
}
#project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 650px;
  border: 2px solid #6b0606;
}
.project-item {
  padding-top: 15px;
}
.project-display-item {
  padding: 10px;
}

#project-display > h4 {
  border-top: 2px solid #2a2a2a;
  border-bottom: 2px solid #2a2a2a;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

