@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  /* background-color: #f0ead6; */
  /* background-color: #f0ead6; */
  background-color: #f7f4ea
}

/* ~~~~~~~~~font settings~~~~~~~~~~~~~~ */
h1,
h2,
h3,
h4,
h5,
a,
p,
label {
  font-family: "Montserrat", sans-serif;
  color: black;
}

/* ~~~~~~~~Button styles~~~~~~~~~~~~~~~~~ */
/* button {
  background-color: #3a3a3a;
  color: #f2eded;
} */
button {
  background-color: #f0ead6
}
.sidebar-button {
  background-color: #d0cab6;
  background-image: url(./imgs/45-degree-fabric-dark.png);
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
  transition: transform 150ms ease,
              background-color 250ms ease-in-out;


}
.sidebar-button:hover {
  background-color: #b0aa96;

  /* box-shadow: .5px .5px; */
  /* border: 1px dashed black;
  box-shadow: 1px 1px 1px black; */
}
.sidebar-button:active {
  transform: scale(.98);
  box-shadow: none;
}
/* ~~~~~~~~~~Popup Settings~~~~~~~~~~~~~~ */
.popup-content {
  width: 35%;
  border: 2px solid #6b0606;
  background-color: #3a3a3a;
}
.todoFormPopup-content {
  width: 20%;
}

.importResult {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;

  border-radius: 15px;
}
.importResultData > p {
  margin: 5px;
}




/* ~~~~~~~~~~~~~~ TOOLTIP SETTINGS ~~~~~~~~~~~~~~ */
.projectPopup-content {
  width: 25%;
}
.tooltipPopup-content {
  font-family: "Sono", sans-serif;
  color: #f2eded;
  background-color: #2a2a2a;
}
#add-project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add-project-form input {
  display: block;
  font-family: "Sono", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;

  background-color: #2a2a2a;
  color: #f2eded;
}

.todo-item > h4 {
  display: inline-block;
}

.todo-notes-vanish {
  display: none;
}
